<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />
	<context:component-scan base-package="org.apache.wiki.spring" />

	<bean id="wikiSession" class="org.apache.wiki.WikiSession" scope="session">
	</bean>

	<bean id="objectProvider" class="org.apache.wiki.providers.ObjectGaeProvider"
		scope="request">
	</bean>


	<bean id="pageProvider" class="org.apache.wiki.providers.WikiPageBlobProvider"
		init-method="initializeProvider" scope="request">
	</bean>


	<bean id="groupProvider" class="org.apache.wiki.providers.WikiBlobGroupDatabase"
		scope="request">
	</bean>
	
	<bean id="attachmentProvider" class="org.apache.wiki.providers.WikiGaeAttachment"
		scope="request">
	</bean>


	<!-- <bean id="userProvider" class="org.apache.wiki.providers.WikiGaeUserDatabase" 
		scope="request"> </bean> -->

	<bean id="userProvider" class="org.apache.wiki.providers.WikiBlobUserDatabase"
		scope="request">
	</bean>

	<bean id="pageManager" class="org.apache.wiki.PageManager"
		init-method="initializeProvider" scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
		<property name="pageProvider" ref="pageProvider"></property>
	</bean>

	<bean id="searchManager" scope="request" factory-bean="referenceFactoryProvider"
		factory-method="getsManager">
	</bean>

	<bean id="renderManager" scope="request" factory-bean="referenceFactoryProvider"
		factory-method="getRendManager">
	</bean>


	<bean id="filterManager" scope="request" factory-bean="referenceFactoryProvider"
		factory-method="getfManager">
	</bean>

	<bean id="referenceManager" scope="request" factory-bean="referenceFactoryProvider"
		factory-method="getrManager">
	</bean>

	<bean id="referenceFactoryProvider" class="org.apache.wiki.spring.ReferenceFactoryProvider"
		scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="objectProvider" />
		</constructor-arg>
	</bean>


	<bean id="userManager" class="org.apache.wiki.auth.UserManager"
		init-method="initializeProvider" scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
	</bean>

	<bean id="groupManager" class="org.apache.wiki.auth.authorize.GroupManager"
		init-method="initializeProvider" scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
	</bean>

	<bean id="wikiEngine" class="org.apache.wiki.WikiEngine" scope="request">
	</bean>

	<bean id="pluginManager" class="org.apache.wiki.plugin.PluginManager"
		init-method="initializeProvider" scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
	</bean>

	<bean id="templateManager" class="org.apache.wiki.ui.TemplateManager"
		init-method="initializeProvider" scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
	</bean>

	<bean id="wikiEventManager" class="org.apache.wiki.event.WikiEventManager"
		init-method="init" scope="request">
	</bean>

	<bean id="wikiCache" class="org.apache.wiki.cache.WikiCacheImplementation"
		scope="request">
	</bean>

	<bean id="localPolicyProvider" class="org.apache.wiki.auth.LocalPolicyProvider"
		init-method="initializeProvider" scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
	</bean>


	<bean id="authenticationManager" class="org.apache.wiki.auth.AuthenticationManager"
		init-method="initializeProvider" scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
		<!-- <property name="useJASS" ref="useJAASBean"></property> -->

	</bean>

	<bean id="attachmentManager" class="org.apache.wiki.attachment.AttachmentManager"
		init-method="initializeProvider" scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
		<property name="attachmentProvider" ref="attachmentProvider"></property>
	</bean>

	<bean id="authorizationManager" class="org.apache.wiki.auth.AuthorizationManager"
		init-method="initializeProvider" scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="localPolicyProvider" />
		</constructor-arg>
	</bean>


	<bean id="useJAASBean"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean"
		scope="request">
		<property name="targetClass">
			<value>org.apache.wiki.spring.BeanHolder</value>
		</property>
		<property name="targetMethod">
			<value>getIsJAAS</value>
		</property>
	</bean>

	<bean id="downloadWiki" class="org.apache.wiki.downup.DownloadWiki"
		scope="request">
		<property name="pageManager" ref="pageManager"></property>
	</bean>

	<bean id="uploadWiki" class="org.apache.wiki.downup.UploadWiki"
		scope="request">
		<property name="pageManager" ref="pageManager"></property>
	</bean>

	<bean id="properties"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean"
		scope="request">
		<property name="targetClass">
			<value>org.apache.wiki.spring.BeanHolder</value>
		</property>
		<property name="targetMethod">
			<value>getWikiProperties</value>
		</property>
	</bean>

	<bean id="pageSorter" class="org.apache.wiki.util.PageSorter"
		scope="request">
		<constructor-arg>
			<ref bean="properties" />
		</constructor-arg>
	</bean>

	<bean id="pageRenamer" class="org.apache.wiki.content.PageRenamer"
		scope="request">
	</bean>

	<bean id="differenceManager" class="org.apache.wiki.diff.DifferenceManager"
		init-method="initializeProvider" scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
		<property name="diffProvider" ref="traditionalDiffProvider"></property>
	</bean>

	<bean id="traditionalDiffProvider" class="org.apache.wiki.diff.TraditionalDiffProvider"
		init-method="initializeProvider" scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
	</bean>

	<bean id="editorManager" class="org.apache.wiki.ui.EditorManager"
		init-method="initializeProvider" scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
	</bean>

	<bean id="filtrListContainer" class="org.apache.wiki.filters.FilterListContainer"
		scope="request">
	</bean>

	<bean id="variableManager" class="org.apache.wiki.VariableManager"
		init-method="initializeProvider" scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
	</bean>

	<bean id="urlConstructor" class="org.apache.wiki.url.DefaultURLConstructor"
		init-method="initializeProvider" scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
	</bean>

	<bean id="progressManager" class="org.apache.wiki.ui.progress.ProgressManager"
		scope="request">
	</bean>

</beans>