<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />
	<context:component-scan base-package="org.apache.wiki.spring" />

	<bean id="wikiSession" class="org.apache.wiki.WikiSession" scope="session">
	</bean>

	<bean id="objectProvider" class="org.apache.wiki.providers.ObjectGaeProvider"
		scope="request">
	</bean>

	<bean id="pageProvider" class="org.apache.wiki.providers.WikiGaePageProvider"
		scope="request">
	</bean>
	<bean id="groupProvider" class="org.apache.wiki.providers.WikiGaeGroupDatabase"
		scope="request">
	</bean>

	<bean id="userProvider" class="org.apache.wiki.providers.WikiGaeUserDatabase"
		scope="request">
	</bean>

	<bean id="referenceManager" class="org.apache.wiki.ReferenceManager"
		scope="request">
	</bean>

	<bean id="filterManager" class="org.apache.wiki.filters.FilterManager"
		scope="request">
	</bean>

	<bean id="renderManager" class="org.apache.wiki.render.RenderingManager"
		scope="request">
	</bean>

	<bean id="pageManager" class="org.apache.wiki.PageManager"
		init-method="initializeProvider" scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
	</bean>

	<bean id="searchManager" class="org.apache.wiki.search.SearchManager"
		scope="request">
	</bean>

	<bean id="userManager" class="org.apache.wiki.auth.UserManager"
		init-method="initializeProvider" scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
	</bean>

	<bean id="groupManager" class="org.apache.wiki.auth.authorize.GroupManager"
		init-method="initializeProvider" scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
	</bean>

	<bean id="wikiEngine" class="org.apache.wiki.WikiEngine" scope="request">
	</bean>

	<bean id="pluginManager" class="org.apache.wiki.plugin.PluginManager"
		scope="request">
	</bean>

	<bean id="templateManager" class="org.apache.wiki.ui.TemplateManager"
		scope="request">
	</bean>

	<bean id="wikiEventManager" class="org.apache.wiki.event.WikiEventManager"
		init-method="init" scope="request">
	</bean>

	<bean id="wikiCache" class="org.apache.wiki.cache.WikiCacheImplementation"
		scope="request">
	</bean>
	
	<bean id="localPolicyProvider" class="org.apache.wiki.auth.LocalPolicyProvider"
		init-method="initializeProvider"  scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
	</bean>
	

	<bean id="authenticationManager" class="org.apache.wiki.auth.AuthenticationManager"
		init-method="initializeProvider" scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
	</bean>
	
	<bean id="authorizationManager" class="org.apache.wiki.auth.AuthorizationManager"
		init-method="initializeProvider" scope="request">
		<constructor-arg>
			<ref bean="wikiEngine" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="localPolicyProvider" />
		</constructor-arg>
	</bean>
	


</beans>